<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

</head>

<body class="jumbotron">
    <!-- partial:index.partial.html -->
    <div class="jumbotron text-center">
        <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='afriex-new-logo-2.png')}}" alt=""
            width="72" height="72">
        <h1 class="display-3">Success!!!</h1>
        <p class="lead"><strong>Congrats, You've successfully completed the verification process</strong></p>
        <!-- partial -->
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js'></script>
</body>

</html>